.bg-ws {
  background-color: whitesmoke;
}

.txt-ws {
  color: whitesmoke;
}

.txt-pink {
  color: pink;
}

.txt-purple {
  color: purple;
}

.bd-primary {
  border-color: var(--primary-color);
}

.bd-secondary {
  border-color: var(--secondary-color);
}
