
/* Heading */

.h1 {
  font-size: var(--size-17);
  margin: var(--size-9) 0;
}

.h2 {
  font-size: var(--size-13);
  margin: var(--size-5) 0;
}

.h3 {
  font-size: var(--size-11);
  margin: var(--size-9) 0;
}

.h4 {
  font-size: var(--size-10);
}

.h5 {
  font-size: var(--size-9);
}

.h6 {
  font-size: var(--size-8);
}

.txt-lg {
  font-size: 2rem;
}

.txt-md {
  font-size: 1.5rem;
}

.txt-sm {
  font-size: 0.875rem;
}

/* Text Utility */
.txt-right {
  text-align: right;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-strike {
  text-decoration: line-through;
}

.txt-underline {
  text-decoration: underline;
}

.txt-grey {
  color: var(--grey);
}

.bd {
  border: 1px solid;
}

.bd2 {
  border: 2px solid;
}

.bd3 {
  border: 3px solid;
}

.bd4 {
  border: 4px solid;
}

.bd5 {
  border: 5px solid;
}

.bd6 {
  border: 6px solid;
}
