:root {
  --primary-color: #20bdff;
  --secondary-color: #181818;
  --text-color: #ffffff;
  --inactive-color: #999999;

  --default-background-color: #f2f2f2;

  /* border radius */
  --radius-small: 2px;
  --radius: 4px;
  --radius-large: 6px;
  --radius-extra-large: 10px;
  --radius-rounded: 50%;

  /* font weight */
  --weight-light: 300;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;

  /* sizing */
  --size-45: 10rem;
  --size-27: 5.5rem;
  --size-25: 5rem;
  --size-24: 4.75rem;
  --size-23: 4.5rem;
  --size-22: 4.25rem;
  --size-21: 4rem;
  --size-20: 3.75rem;
  --size-19: 3.5rem;
  --size-18: 3.25rem;
  --size-17: 3rem;
  --size-16: 2.75rem;
  --size-15: 2.5rem;
  --size-14: 2.25rem;
  --size-13: 2rem;
  --size-12: 1.75rem;
  --size-11: 1.5rem;
  --size-10: 1.25rem;
  --size-9: 1rem;
  --size-8: 0.875rem;
  --size-7: 0.75rem;
  --size-6: 0.625rem;
  --size-5: 0.5rem;
  --size-4: 0.375rem;
  --size-3: 0.25rem;
  --size-2: 0.125rem;
  --size-1: 1px;
  --size-0: 0;

  /* Color variables */

  --pure-white: #ffffff;
  --grey: #727289;
  --light-grey: #727272;
  --default-hover-background: #f1f5f9;

  --default-btn-color: #1e293b;
  --error-red: #dc2626;
  --success-green: #22c55e;
  --text-overlay-bg: rgba(32, 189, 255, 0.2);

  /* Alert colors */
  --alert-primary: #93cde5;
  --alert-error: #fed7d7;
  --alert-warning: #fed7d7;
  --alert-success: #c6f6d5;

  --alert-primary-icon: #177bbd;
  --alert-error-icon: #e53e3e;
  --alert-warning-icon: #dd6b20;
  --alert-success-icon: #38a169;

  /* Badge statuses */

  --badge-status-online: #38a169;
  --badge-status-offline: #9ca3af;
  --badge-status-busy: #e53e3e;

  /* button hover colors */

  --btn-hover: #2c3c55;
  --primary-btn-hover: #00a2e7;
  --secondary-btn-hover: #f1f5f9;
  --success-btn-hover: #1eb957;
  --alert-btn-hover: #c52121;
}
