@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Quintessential&family=Roboto&family=Satisfy&display=swap");
@import url(./styles/styles.css);

.wrapper {
  width: 80%;
  margin: auto;
  min-height: 100vh;
  height: max-content;
}

.main-page {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Navigation */
.navbar {
  background-color: var(--pure-white);
  color: var(--secondary-color);
}

.nav-heading {
  font-family: "Satisfy", cursive;
  text-decoration: underline;
}

/* Sidebar */

.aside {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  z-index: 6;
}

.aside-list {
  height: 70vh;
  overflow-y: scroll;
  border-right: 1px solid var(--primary-color);
}

.aside-list::-webkit-scrollbar {
  display: none;
}

.list-item {
  padding: 0.8rem 0.5rem;
  text-align: center;
}

.list-item:hover,
.list-item:active {
  color: var(--primary-color);
}

/* Content */

.content {
  position: relative;
  padding-left: 30%;
  width: 100%;
}

.title {
  font-size: 1.8rem;
  padding: 1rem 0;
  font-weight: var(--weight-bold);
  color: var(--secondary-color);
}

.heading {
  color: var(--secondary-color);

  font-size: 1.3rem;
  font-weight: var(--weight-semibold);
  padding: 1rem 0 1rem 0;
}

.component-info {
  font-size: 1rem;
}

.active {
  color: var(--primary-color);
}

.examples {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* .examples .badge-container {
  margin: 0 1rem;
} */

.examples-code {
  width: 100%;
  display: flex;
  justify-content: center;
}

iframe {
  width: 100%;
}

.article {
  padding: 1rem 0;
  border-bottom: 1px solid #dadadaf3;
}
