.avatar {
  border-radius: 50%;
  width: var(--size-22);
  height: var(--size-22);
  margin: 0.5rem;
  background-color: var(--default-background-color);
  object-fit: cover;
}

.avatar-sm {
  width: var(--size-15);
  height: var(--size-15);
}

.avatar-lg {
  width: var(--size-27);
  height: var(--size-27);
}

.avatar-square {
  border-radius: 0;
}
