.badge-container {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  font-size: 0.7rem;
  padding: 0.5rem;
  background: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 1.3rem;
  min-width: 1.3rem;
}

.badge-md {
  font-size: 1rem;
}

.badge-lg {
  font-size: 1.3rem;
}

.badge-status {
  bottom: 0.8rem;
  right: 0.6rem;
  top: auto;
  left: auto;
  height: 0.1rem;
  width: 0.1rem;
  border: 3px solid white;
}

.badge-online {
  background-color: var(--badge-status-online);
}

.badge-offline {
  background-color: var(--badge-status-offline);
}

.badge-busy {
  background-color: var(--badge-status-busy);
}

.badge-icon {
  top: -0.5rem;
  right: -0.5rem;
  left: auto;
  bottom: auto;
  padding: 0.25rem;
}

.badge-text {
  border-radius: 0;
}
