.btn {
  min-width: 1rem;
  max-width: max-content;
  padding: 0.7rem 1.2rem;
  background-color: var(--default-btn-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  margin: 0.5rem;
  border-radius: var(--radius);
  font-weight: var(--weight-semibold);
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-secondary {
  border: 1px solid var(--primary-color);
  background-color: var(--pure-white);
  color: var(--primary-color);
}

.btn-link {
  border: 1px solid var(--primary-color);
  background-color: var(--pure-white);
  color: var(--primary-color);
}

.btn-link a {
  font-weight: var(--weight-light);
  color: var(--primary-color);
}

.btn-alert {
  background-color: var(--error-red);
}

.btn-success {
  background-color: var(--success-green);
}

.btn-icon i {
  margin-right: 0.5rem;
}

.btn-float {
  display: flex;
  border-radius: var(--radius-rounded);
  padding: 1.25rem;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  height: 3.5rem;
  width: 3.5rem;
}

.btn:hover {
  background-color: var(--btn-hover);
}

.btn-primary:hover {
  background-color: var(--primary-btn-hover);
}

.btn-secondary:hover {
  background-color: var(--secondary-btn-hover);
}

.btn-success:hover {
  background-color: var(--success-btn-hover);
}

.btn-alert:hover {
  background-color: var(--alert-btn-hover);
}

.btn-link:hover {
  background-color: var(--secondary-btn-hover);
}
